<!-- <p>about works!</p>
<p>home works!</p> -->
<!-- <h1>Welcome to the About Page</h1> -->
<h1>Crafting solutions, Shaping Industries!</h1>
<!-- <p>This is the about page of our Angular application.</p> -->

<!-- <div id="tsparticles">test</div> -->
<!-- <canvas id="tsparticles">test</canvas> -->
<p>This is the About page, and particles will be shown here.</p>
<!-- <canvas id="tsparticles">tests</canvas> -->
<!-- <tsparticles id="'aboutParticles'" [options]="particlesOptions"></tsparticles> -->
<!-- <canvas> -->
    <ngx-particles [id]="id" [options]="particlesOptions" (particlesLoaded)="particlesLoaded($event)"></ngx-particles>
    <p>Particles will be shown inside canvas.</p>
<!-- </canvas> -->